* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    user-select: none;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    background-color: #1F6494;
    padding: 20px 0;
    -webkit-tap-highlight-color: transparent;
}

.score {
    font-size: 28px;
    font-weight: bold;
    text-shadow: 0 0 30px #000;
    width: 100%;
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,.4);
    padding: 20px;
    padding-top: 10px;
    margin-top: 5px;
}

.num {
    color: #ff2848;
}

.kitty-container {
    height: 400px;
    margin-top: -30px;
}

.kitty {
    width: 200px;
    height: 200px;
    cursor: pointer;
    filter: drop-shadow(0 0 5px rgb(0, 0, 0));
    animation: rotates 100s linear infinite;
    padding: 30px;
    margin-top: -18px;
    @media (max-width: 768px) {
        .responsive-image {
          max-width: 300px; /* Adjust the maximum width for mobile screens */
          height: auto;
        }
      }
}

.kitty:active {
    width: 190px;
    height: 190px;
}

.kitty-particle {
    width: 30px;
    position: absolute;
    top: -30px;
    left: -30px;
    pointer-events: none;
    animation: cookie-up 3s linear forwards;
}

.powerups {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.4);
    gap: 50px;
    margin-bottom: 50px;
}

.powerup {
    width: 100px;
    height: 100px;
    border: 2px solid;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    background-color: #fff;
}

.powerup:active {
    transform: scale(.9);
}

.powerup .name1 {
    font-size: 15px;
    font-weight: bold;
}

.powerup .name2 {
    font-size: 15px;
    font-weight: bold;
}

.powerup .price {
    font-size: 15px;
    color: rgb(31,181,41);
    padding-bottom: 5px;
}

.bowl {
    height: 80px;
}

.invalid {
    border: 2px solid red;
    animation: error .3s linear infinite;
}

.disable {
    display: none;
}

.cursor.auto {
    animation: clickEffect .5s ease alternate infinite;
}

.cursor {
    width: 80px;
}

.auto-clicks {
    display: none;
}

/* Keyframes */

@keyframes rotates {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes cookie-up {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        top: 0;
    }
}

@keyframes clickEffect {
    to {
        transform: rotate(28deg) scale(.8);
    }
    from {
        transform: rotate(28deg) scale(.7);
    }
}

@keyframes error {
    20% {
        transform: translateX(10px);
    }
    40% {
        transform: translateX(0);
    }
    60% {
        transform: translateX(-10px);
    }
    80% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(10px);
    }
}

/* New Item Styles */
.items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: -30px;
}

.item {
    width: 100px;
    text-align: center;
    cursor: pointer;
    border: none;
}

.item-image {
    width: 80px;
    height: 80px;
    filter: brightness(0.4); /* Initial dark appearance */
}

.item-price {
    font-size: 20px;
    color: #ff2848;
    margin-bottom: 30px;
}